crawl/node_modules/*
getLinks/node_modules/*
getLinks/links.txt
node_modules/*
getLinks/songLinks/*
getLinks/cleanLinks/*
getLinks/artistLinks/*
*.pyc
getLinks/chordLinks/*
getLinks/artistLinksClean/*
getLinks/chordLinks/*
getLinks/previouslyFailed/*
.DS_Store
API call/node_modules
getLinks/vmsetup.sh
