crawl/node_modules/*
getLinks/node_modules/*
getLinks/links.txt
node_modules/*
getLinks/songLinks/*
getLinks/cleanLinks/*
getLinks/artistLinks/*
*.pyc
getLinks/chordLinks/*
getLinks/artistLinksClean/*
getLinks/chordLinks/*
getLinks/previouslyFailed/*
getLinks/.DS_Store
